<a href="https://colab.research.google.com/github/XavierCarrera/neural-network/blob/main/Used_Car_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Exploration

In [3]:
import pandas as pd
import numpy as np

In [4]:
cars = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/craiglist_cars-1_3c787db8-43e4-4b25-811b-b6cbe93cb9bf.csv')
cars.head(3)

   year manufacturer  condition  ...         type paint_color price
0  2009    chevrolet       good  ...          SUV       white  9000
1  2002          gmc       good  ...       pickup       white  6000
2  2007      pontiac  excellent  ...  convertible         red  7000

[3 rows x 12 columns]

In [5]:
print(cars.shape)
100*cars.isnull().sum()/cars.shape[0]

(434542, 12)

year             0.000000
manufacturer     3.646138
condition       36.860649
cylinders       28.306355
fuel             0.839505
title_status     0.662997
transmission     0.989087
drive           13.280189
size            58.133621
type            11.566661
paint_color     19.734571
price            0.000000
dtype: float64

In [6]:
types = pd.DataFrame(cars.dtypes)
print(types.groupby(0).size())

0
int64      2
object    10
dtype: int64

In [7]:
categorical = types.index[types[0] == 'O'].values
for line in categorical:
 print("Variable "+ line +" contains:",str(len(cars[line].unique()))+" distinct values")

Variable manufacturer contains: 43 distinct values
Variable condition contains: 7 distinct values
Variable cylinders contains: 9 distinct values
Variable fuel contains: 6 distinct values
Variable title_status contains: 7 distinct values
Variable transmission contains: 4 distinct values
Variable drive contains: 4 distinct values
Variable size contains: 5 distinct values
Variable type contains: 14 distinct values
Variable paint_color contains: 13 distinct values

# Data Engineering

In [8]:
cars["fuel"] = cars["fuel"].fillna(cars["fuel"].mode()[0])

In [9]:
print(cars.shape)
100*cars.isnull().sum()/cars.shape[0]

(434542, 12)

year             0.000000
manufacturer     3.646138
condition       36.860649
cylinders       28.306355
fuel             0.000000
title_status     0.662997
transmission     0.989087
drive           13.280189
size            58.133621
type            11.566661
paint_color     19.734571
price            0.000000
dtype: float64

In [10]:
cars["title_status"] = cars["title_status"].fillna(cars["title_status"].mode()[0])
cars["transmission"] = cars["transmission"].fillna(cars["transmission"].mode()[0])
cars["manufacturer"] = cars["manufacturer"].fillna(cars["manufacturer"].mode()[0])

100*cars.isnull().sum()/cars.shape[0]

year             0.000000
manufacturer     0.000000
condition       36.860649
cylinders       28.306355
fuel             0.000000
title_status     0.000000
transmission     0.000000
drive           13.280189
size            58.133621
type            11.566661
paint_color     19.734571
price            0.000000
dtype: float64

In [12]:
df= cars.copy()
for col in categorical:
    df = pd.concat([df, (pd.get_dummies(df[col])).astype(int)], axis=1)
    df.drop(columns=[col],inplace=True)

df.drop('other', axis=1, inplace=True)
print(df.shape)
df.head(3)

(434542, 100)

   year  price  acura  alfa-romeo  ...  red  silver  white  yellow
0  2009   9000      0           0  ...    0       0      1       0
1  2002   6000      0           0  ...    0       0      1       0
2  2007   7000      0           0  ...    1       0      0       0

[3 rows x 100 columns]

In [13]:
types = pd.DataFrame(df.dtypes)
print("Tipos de variables",types.groupby(0).size())

Tipos de variables 0
int64    100
dtype: int64

In [14]:
numeric_columns = list(set(types.index[types[0] =="int64"].values) - set(["price"]))
consolidated_variables = df[numeric_columns]
target = df["price"] 

consolidated_variables.head(3)

   hennessey  6 cylinders  harley-davidson  ...  rebuilt  excellent  silver
0          0            0                0  ...        0          0       0
1          0            0                0  ...        0          0       0
2          0            0                0  ...        0          1       0

[3 rows x 99 columns]

# Model Training

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(consolidated_variables,target,test_size=0.2, random_state=2020)
x_train,x_val, y_train,y_val = train_test_split(x_train,y_train,test_size=0.1, random_state=2020)

In [24]:
y_train = y_train.values.reshape(-1,1)
y_test = y_test.values.reshape(-1,1)
y_val = y_val.values.reshape(-1,1)

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_val_scaled = scaler.transform(x_val)
x_test_scaled = scaler.transform(x_test)

scaler1 = StandardScaler()
scaler1.fit(y_train)
y_train_scaled = scaler1.transform(y_train)
y_val_scaled = scaler1.transform(y_val)
y_test_scaled = scaler1.transform(y_test)

In [26]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.utils import plot_model

model = Sequential()
model.add(Dense(256,input_dim = x_train.shape[1],activation="relu"))
model.add(Dense(128,activation="relu"))
model.add(Dense(128,activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(1,activation = "linear")) 
model.compile(optimizer = "adam",loss="mse",metrics=["mean_absolute_error"])

print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 256)               25600
_________________________________________________________________
dense_1 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_2 (Dense)              (None, 128)               16512
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 129
=================================================================
Total params: 75,137
Trainable params: 75,137
Non-trainable params: 0
_________________________________________________________________
None

In [27]:
model.fit(x_train_scaled,y_train_scaled, validation_data = (x_val_scaled,y_val_scaled),epochs=50, batch_size=1024)

Epoch 1/50
306/306 [==============================] - 5s 16ms/step - loss: 0.5482 - mean_absolute_error: 0.5113 - val_loss: 0.4982 - val_mean_absolute_error: 0.4538
Epoch 2/50
306/306 [==============================] - 5s 16ms/step - loss: 0.4694 - mean_absolute_error: 0.4559 - val_loss: 0.4880 - val_mean_absolute_error: 0.4390
Epoch 3/50
306/306 [==============================] - 5s 16ms/step - loss: 0.4564 - mean_absolute_error: 0.4442 - val_loss: 0.5040 - val_mean_absolute_error: 0.4393
Epoch 4/50
306/306 [==============================] - 5s 16ms/step - loss: 0.4402 - mean_absolute_error: 0.4383 - val_loss: 0.4566 - val_mean_absolute_error: 0.4310
Epoch 5/50
306/306 [==============================] - 5s 16ms/step - loss: 0.4364 - mean_absolute_error: 0.4322 - val_loss: 0.4499 - val_mean_absolute_error: 0.4301
Epoch 6/50
306/306 [==============================] - 5s 15ms/step - loss: 0.4385 - mean_absolute_error: 0.4284 - val_loss: 0.4521 - val_mean_absolute_error: 0.4262
Epoch 7/50
306/306 [==============================] - 5s 15ms/step - loss: 0.4163 - mean_absolute_error: 0.4235 - val_loss: 0.4113 - val_mean_absolute_error: 0.4192
Epoch 8/50
306/306 [==============================] - 5s 15ms/step - loss: 0.4031 - mean_absolute_error: 0.4190 - val_loss: 0.4101 - val_mean_absolute_error: 0.4228
Epoch 9/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3979 - mean_absolute_error: 0.4160 - val_loss: 0.4061 - val_mean_absolute_error: 0.4168
Epoch 10/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3921 - mean_absolute_error: 0.4125 - val_loss: 0.4038 - val_mean_absolute_error: 0.4160
Epoch 11/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3867 - mean_absolute_error: 0.4094 - val_loss: 0.4016 - val_mean_absolute_error: 0.4148
Epoch 12/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3833 - mean_absolute_error: 0.4077 - val_loss: 0.3993 - val_mean_absolute_error: 0.4080
Epoch 13/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3789 - mean_absolute_error: 0.4048 - val_loss: 0.3972 - val_mean_absolute_error: 0.4097
Epoch 14/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3754 - mean_absolute_error: 0.4029 - val_loss: 0.3975 - val_mean_absolute_error: 0.4117
Epoch 15/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3712 - mean_absolute_error: 0.4008 - val_loss: 0.3925 - val_mean_absolute_error: 0.4080
Epoch 16/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3674 - mean_absolute_error: 0.3991 - val_loss: 0.3919 - val_mean_absolute_error: 0.4074
Epoch 17/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3631 - mean_absolute_error: 0.3963 - val_loss: 0.3893 - val_mean_absolute_error: 0.4053
Epoch 18/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3595 - mean_absolute_error: 0.3939 - val_loss: 0.3909 - val_mean_absolute_error: 0.4075
Epoch 19/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3580 - mean_absolute_error: 0.3934 - val_loss: 0.3882 - val_mean_absolute_error: 0.4042
Epoch 20/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3541 - mean_absolute_error: 0.3911 - val_loss: 0.3856 - val_mean_absolute_error: 0.4067
Epoch 21/50
306/306 [==============================] - 5s 16ms/step - loss: 0.3520 - mean_absolute_error: 0.3901 - val_loss: 0.3816 - val_mean_absolute_error: 0.4005
Epoch 22/50
306/306 [==============================] - 5s 16ms/step - loss: 0.3527 - mean_absolute_error: 0.3896 - val_loss: 0.4178 - val_mean_absolute_error: 0.4102
Epoch 23/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3550 - mean_absolute_error: 0.3905 - val_loss: 0.4180 - val_mean_absolute_error: 0.4043
Epoch 24/50
306/306 [==============================] - 5s 16ms/step - loss: 0.3598 - mean_absolute_error: 0.3897 - val_loss: 0.3856 - val_mean_absolute_error: 0.4015
Epoch 25/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3725 - mean_absolute_error: 0.3870 - val_loss: 0.3866 - val_mean_absolute_error: 0.4018
Epoch 26/50
306/306 [==============================] - 5s 15ms/step - loss: 0.4153 - mean_absolute_error: 0.3875 - val_loss: 0.3946 - val_mean_absolute_error: 0.4084
Epoch 27/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3409 - mean_absolute_error: 0.3835 - val_loss: 0.3864 - val_mean_absolute_error: 0.4004
Epoch 28/50
306/306 [==============================] - 4s 15ms/step - loss: 0.3419 - mean_absolute_error: 0.3820 - val_loss: 0.3890 - val_mean_absolute_error: 0.4025
Epoch 29/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3363 - mean_absolute_error: 0.3808 - val_loss: 0.3839 - val_mean_absolute_error: 0.3970
Epoch 30/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3334 - mean_absolute_error: 0.3792 - val_loss: 0.3833 - val_mean_absolute_error: 0.3960
Epoch 31/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3307 - mean_absolute_error: 0.3775 - val_loss: 0.3830 - val_mean_absolute_error: 0.3961
Epoch 32/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3302 - mean_absolute_error: 0.3775 - val_loss: 0.3814 - val_mean_absolute_error: 0.3959
Epoch 33/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3293 - mean_absolute_error: 0.3766 - val_loss: 0.3801 - val_mean_absolute_error: 0.3940
Epoch 34/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3280 - mean_absolute_error: 0.3757 - val_loss: 0.3775 - val_mean_absolute_error: 0.3959
Epoch 35/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3258 - mean_absolute_error: 0.3747 - val_loss: 0.3806 - val_mean_absolute_error: 0.3986
Epoch 36/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3243 - mean_absolute_error: 0.3737 - val_loss: 0.3825 - val_mean_absolute_error: 0.3960
Epoch 37/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3221 - mean_absolute_error: 0.3725 - val_loss: 0.3797 - val_mean_absolute_error: 0.3921
Epoch 38/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3219 - mean_absolute_error: 0.3723 - val_loss: 0.3843 - val_mean_absolute_error: 0.3990
Epoch 39/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3200 - mean_absolute_error: 0.3714 - val_loss: 0.3838 - val_mean_absolute_error: 0.3934
Epoch 40/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3184 - mean_absolute_error: 0.3703 - val_loss: 0.3786 - val_mean_absolute_error: 0.3943
Epoch 41/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3172 - mean_absolute_error: 0.3698 - val_loss: 0.3806 - val_mean_absolute_error: 0.3935
Epoch 42/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3168 - mean_absolute_error: 0.3696 - val_loss: 0.3802 - val_mean_absolute_error: 0.3940
Epoch 43/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3160 - mean_absolute_error: 0.3690 - val_loss: 0.3800 - val_mean_absolute_error: 0.3936
Epoch 44/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3156 - mean_absolute_error: 0.3691 - val_loss: 0.3788 - val_mean_absolute_error: 0.3923
Epoch 45/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3134 - mean_absolute_error: 0.3676 - val_loss: 0.3805 - val_mean_absolute_error: 0.3926
Epoch 46/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3122 - mean_absolute_error: 0.3666 - val_loss: 0.3798 - val_mean_absolute_error: 0.3908
Epoch 47/50
306/306 [==============================] - 5s 15ms/step - loss: 0.3148 - mean_absolute_error: 0.3667 - val_loss: 0.3813 - val_mean_absolute_error: 0.3968
Epoch 48/50
306/306 [==============================] - 5s 16ms/step - loss: 0.3113 - mean_absolute_error: 0.3660 - val_loss: 0.3764 - val_mean_absolute_error: 0.3924
Epoch 49/50
306/306 [==============================] - 5s 17ms/step - loss: 0.3098 - mean_absolute_error: 0.3650 - val_loss: 0.3776 - val_mean_absolute_error: 0.3941
Epoch 50/50
306/306 [==============================] - 5s 17ms/step - loss: 0.3091 - mean_absolute_error: 0.3641 - val_loss: 0.3786 - val_mean_absolute_error: 0.3922

# Model Evaluation

In [36]:
result = model.evaluate(x_test_scaled,y_test_scaled)
for i in range(len(model.metrics_names)):
 print("Metric ",model.metrics_names[i],":",
str(round(result[i],2)))

2716/2716 [==============================] - 3s 1ms/step - loss: 0.3843 - mean_absolute_error: 0.3946
Metric  loss : 0.38
Metric  mean_absolute_error : 0.39

In [37]:
real=pd.DataFrame(y_train)
predic=model.predict(pd.DataFrame(x_train_scaled))
resc_values = scaler1.inverse_transform(predic)
pred_escal =pd.DataFrame(resc_values)

for i in range(0,5):
	print("Real=%s, Prediction=%s" % (real[0][i], pred_escal[0][i]))

Real=18650, Prediction=15583.775
Real=9950, Prediction=8940.825
Real=2000, Prediction=2274.2212
Real=7999, Prediction=5148.329
Real=23999, Prediction=23864.508